@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {

    --primary: #0057B8;
    --secondary: #0099FF;
    --accent: #00C896;

    --dark: #0F172A;
    --gray: #64748B;
    --light: #FFFFFF;
    --background: #F8FAFC;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:Inter,Arial,sans-serif;
    background:var(--background);
    color:var(--dark);

}

.container{

    width:min(1200px,92%);
    margin:auto;

}

section{

    padding:90px 0;

}

a{

    text-decoration:none;
    color:inherit;

}

img{

    display:block;
    max-width:100%;

}
