<header class="navbar">

  <div class="container">

    <a class="logo" (click)="scrollTo('hero')">
      <span class="logo-text">ROSSMANN</span>
    </a>

    <nav class="nav-links">

      <a (click)="scrollTo('hero')">
        {{ 'navbar.home' | transloco }}
      </a>

      <a (click)="scrollTo('services')">
        {{ 'navbar.services' | transloco }}
      </a>

      <a (click)="scrollTo('why-us')">
        {{ 'navbar.about' | transloco }}
      </a>

      <a (click)="scrollTo('technologies')">
        Technologies
      </a>

      <a (click)="scrollTo('projects')">
        {{ 'navbar.projects' | transloco }}
      </a>

      <a (click)="scrollTo('contact')">
        {{ 'navbar.contact' | transloco }}
      </a>

    </nav>

    <app-language-switcher></app-language-switcher>

  </div>

</header>
